

/* Parametrage des couleurs du site */
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
/* attibuts communs à toute la page du site */

*{
   /* box-sizing: border-box;*/
    margin: 0;
    padding: 0 ;
    font-family: 'Raleway', sans-serif;
}

p{
    font-weight: 400;
    font-size: 16px;
    color: black;
}

a{
    text-decoration: none; 
    color: black;   
    font-size: 16PX;
}

h1{
    font-size:22px ;
    font-weight: 700;
    line-height: 26px;
}

h3{
    font-size: 18px;   
}

main{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0px 50px;
}

/* maincontainer */
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 1440px;
    margin: 0 auto;
}


/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    height: 70px;
}
/* logo */
.logo-booki{
    height: 20px;  
}

/* navigation header */
.menu-navigation{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.menuItem{
    display: flex;
    align-items: center;
    font-weight: 400;  
    border-top: 2px solid transparent;
    height: 100%;
}

.menuItem:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/* main-first-part -partie recherche et filtre */
.first-part{
    display: flex;
    flex-direction: column;
    gap: 35px; 
}

.headline{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* barre de recherche 1ere partie */
.search-bar{
    display: flex;
    align-items: center;
    height: 49px;
    font-size: 18px;  
}

.localisation{
    display: flex;
    background-color:#F2F2F2 ;
    height: 100%;
    width: 50px;
    border-radius: 15px 0 0 15px;
    align-items: center;
    justify-content: center;
}

.search{
    border:1px solid #F2F2F2;
    padding: 0 24px;
    height:49PX;
    color: black;
    font-size: 18px;
    font-weight: 700 ;
    outline: none;
}

search::placeholder{
    font-weight: 700;
    font-size: 18px;
}

.btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    padding: 0px 16px;
    border-radius: 0px 15px 15px 0px;
    border:none;
    font-size: 18px;
    height: 100%;
    color: white;
    font-weight: 700;
}

.btn-search-mobile{
    display: none;
}

/* filterbar */
.filterBar{
    display: flex;
    align-items: center;
    gap: 15px;   
}

.filters{
    display: flex;
    gap: 20px;  
}
.filter{
    height: 50px;
    display: flex;
    align-items: center;
    gap:10px;
    border: 2px solid #D9D9D9; 
    border-radius: 25px;
    padding: 0 20px;
    font-weight: 700;
    font-size: 17px;     
}

.filter:hover{
    background-color:#DEEBFF;
}

.filter i{
    color: var(--main-color) ;
}

/* infobar */
.infobar{
    display: flex;
    align-items: center;
    gap: 15px;   
}

.iconInfo{

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}
.iconInfo > i{
    color: var(--main-color);
}

                                    /* Hebergements and populaires  */

/* general */

.hebergements-and-populaires{
    display: flex;
    justify-content: space-between;
}

.hebergements , .populaires{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title{
    margin: 0;
    font-size: 22px;
}

.card{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); 
}

.card img {
    object-fit: cover;
}

.card-title{
    font-size: 16px;
    line-height: 19px;
}

.euro{
    font-weight: 700;

}
.fa-solid{
    color: var(--main-color);
}

/* Hebergements */

.lien-card{
    width: 100%;
}

.hebergements{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
}

.hebergements-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

.hebergements-line{
    display: flex;
    gap: 30px;   
}

.hebergements-line .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding-bottom: 15px;
    gap: 4px;
}

.hebergements-line img{
    width:100%;
    height:124px ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}

.hebergements-line .card-content{
   
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px 15px ; 
    width: 100%;
}

.hebergements-line .card-txt{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* Populaires */

.populaires{
    width: 32%;
}

.populaires-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card{
    display: flex;
    margin-top: 33px;
}

.populaires-cards img{
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content{
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title{
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle{
    margin: 0;
}

.populaires-cards .card-rating{
    margin-bottom: 5px;
}

/* Afficher plus */

.more-hotels{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.neutral-star{
    color: var(--main-bg-color)
}

                                        /* Activités à Marseille  */

.activites-a-marseille{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activites-container{
    display: flex;
    gap: 30px;
    
    
}

.activites{
    width: 25%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    background-color: white;
}

.activites img{
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    width: 100%;
    object-fit: cover;
}



.lieu-activite{
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    padding-left: 15px;  
}


/* footer */
footer{
    display: flex;  
    justify-content: space-between;
    background-color:  #F2F2F2;
    margin: 0 50px;
    padding: 30px;
}
 
/* code similaire aux aux 3 div du footer */
.end-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33%;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (min-width: 768px) and (max-width: 1024px){
    .hebergements-and-populaires{
        flex-direction: column;
        gap: 50px ;
    }

    .hebergements{
        width: 100%;
    }

    .populaires{
        width: 100%;
    }

    .populaires-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:center;   
    }

    .activites img{
        height: 200px;
    } 
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

 header{
    flex-direction: column;
    padding: 0px; 
    height: 100%;
}

main{
    padding: 0px;  
}

.mainContainer{
    gap: 30px; 
} 

.logo-booki{
    padding: 30px;
}

.menu-navigation{
    width: 100%;
    gap: 0px; 
}

.menuItem:hover{ 
    border-bottom: 2px solid var(--main-color);
    border-top:none
}

.menuItem{
    justify-content: center;
    width: 50%;
}

.first-part{
    padding:0px 20px;    
}

.btn-search{
    display: none;
}

.btn-search-mobile{
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    justify-content: center;
    border-radius:15px;
    border:none;
    height: 100%;  
    width: 49px;  
    margin-left: -10px;
}

.btn-search-mobile i{
    color: white;
}

.search{
    border-right: none;
}

.search-bar{
    width: 100%;
}

.filterBar{  
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.filters{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filter{
    font-size: 14px;
    line-height: 16px;
}

.hebergements-and-populaires{
    flex-direction: column-reverse;
    width: 100%;
    gap: 15px;
}

.populaires{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    border-radius:0px;
    padding: 30px 20px;
}

/* Mobile-Hebergements-cards */
.hebergements-line,.populaires-cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hebergements{
    gap: 15px;
    background: none;
    padding: 30px 20px;
    border-radius: 0px;
    width: 100%;
}

.hebergements-cards{
    gap: 15px;
}

.populaires-cards .card, .hebergements-line .card{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/* Activites à Marseille */

.activites-a-marseille{
    gap: 15px;
}

.activites{
    width: 100%;
}

.activites img{
    height: 140px;
   
}

.activites-container{
    flex-direction: column;
    gap: 15px;
    width: 100%;
} 

/* footer */
footer{
  
    flex-direction: column;  
    justify-content: unset;
    margin: 0 0px;
    gap: 25px;
}
 
/* code similaire aux aux 3 div du footer */
.end-box{
    width: 100%;
}
}
